/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
}


:root {
  --primary-color: #f5f6f7;
  --secondary-color: #2d82c9;
  --accent-color-light: #6aa5d5;
  --accent-color-dark: #795f74;
  --background-color: #20212f;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Lato", "Roboto", "Open Sans", sans-serif;
}
